body {
    background-color: #C96567;
}

.game-root{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.mainArea {
    max-width: 1300px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    font-family: PlayfairDisplay-Regular;
}

.questText {
    height: 50%;
    padding: 15px;
    color: #314455;
    background-color: white;
    border: 2px solid #644E5B;
}

.questAction {
    height: 50%;
    padding: 15px;
    color: #314455;
    background-color: white;
    border: 2px solid #644E5B;
}

.questState {
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #AAABB8;
    background-color: #C96567;
}

.stateRaw {
    text-align: center;
    padding: 15px;
    color: #314455;
    background-color: white;
    border: 2px solid #644E5B;
    width: 70%;
}

@font-face {
    font-family: PlayfairDisplay-Regular;
    src: url("/fonts/PlayfairDisplay-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
